<nav id="mobile-navbar">
    <div class="navigation-wrapper">
        <ul class="navigation-mobile">
            <li class="nav-item">
                <a routerLink="" (click)="closeNav()" class="nav-link link-active">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="about" (click)="closeNav()" class="nav-link text-dark">About Us</a>
            </li>
            <li class="nav-item">
                <a routerLink="/shop/product/1" (click)="closeNav()" class="nav-link text-dark">Product</a>
            </li>
           
            <li class="nav-item">
                <a routerLink="contact" (click)="closeNav()" class="nav-link text-dark">Contact Us</a>
            </li>
        </ul>

        <div class="contact-info-mobile">
            <p class="footer-text">09015526946 | 08104587770</p>
            <p class="footer-text">abifortune&#64;tomfak.com</p>
        </div>

        <ul class="social-media-mobile">
        <li class="social-media-icon">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </li>
            <li class="social-media-icon">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </li>
        </ul>        
    </div>
</nav>
