<!-- Hero -->
<app-big-slide></app-big-slide>

<!-- Products -->
<section id="products" class="bg-dark">
  <div class="section-wrapper row">
    <div class="col col-left">
      <div class="lead-wrapper" data-aos="fade-up">
        <span class="lead-marker"></span>
        <p class="lead">Our products</p>
      </div>
      <h2 class="text-white" data-aos="fade-up">Professional jotter</h2>
      <div class="section-content text-light">
        <p data-aos="fade-up">
          ABI FORTUNE JOTTERS is more than just a brand; it's a promise of
          quality, style, and reliability. We understand that a jotter is not
          merely a notebook; it is an essential tool for capturing ideas,
          setting goals, and achieving success.
        </p>
        <p data-aos="fade-up">
          ABI FORTUNE JOTTERS is committed to delivering exceptional products
          that inspire confidence and success, making us the preferred choice
          for discerning individuals who demand the best.
        </p>
      </div>
    </div>
    <div class="col col-right">
      <figure>
        <img loading="lazy" src="../../../../assets/images/notebook-1.png" alt="imh" />
      </figure>
    </div>
  </div>
</section>

<!-- Products Slider -->
<section id="products-slider" class="bg-dark">
  <div class="section-header" style="padding: 30px; background-color: #fff">
    <h2 class="text-dark">Bestsellers</h2>
    <p style="color: #000;">
      Not sure where to dive in? Here are our customers' favourites.
    </p>
  </div>
  <!-- Products -->
  <!-- <div class="container">
    <div class="justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="product-card" *ngFor="let item of products" routerLink="/product/{{item.id}}">
            <figure>
                <img loading="lazy"src="{{ item.image.transparent }}" alt="">
            </figure>
            <div class="product-details">
                <h3 class="text-white">{{ item.name }}</h3>
                <p class="lead price">{{ item.price | currency: 'EUR' }}</p>
                <p class="product-type text-light">{{ item.type }}</p>
            </div>
        </div>
      </div>
    </div>
  </div> -->
  <app-slider></app-slider>
  <button routerLink="/shop/product/1" class="btn cta-btn">Shop jotter</button>
</section>

<!-- About -->
<section id="about" class="bg-light">
  <div class="section-wrapper row">
    <div class="col col-left">
      <figure>
        <img loading="lazy" src="../../../../assets/images/woman-writing1.jpg" alt="" />
      </figure>
    </div>
    <div class="col col-right">
      <div class="lead-wrapper" data-aos="fade-up">
        <span class="lead-marker"></span>
        <p class="lead">Since 1997</p>
      </div>
      <h2 class="text-dark" data-aos="fade-up">Our History</h2>
      <div class="section-content text-dark">
        <p data-aos="fade-up">
          ABI FORTUNE JOTTERS began with Mr. Kay, a visionary who frequently
          attended workshops and seminars. He noticed that event organizers and
          trainers were constantly struggling to find quality jotters that were
          both durable and elegant. These jotters, meant to capture valuable
          insights and notes, often fell short of expectations, lacking the
          sturdiness and style that such occasions demanded.
        </p>
        <p data-aos="fade-up">
          Motivated by this gap in the market, Mr. Kay envisioned a jotter that
          would not only serve its practical purpose but also stand out as a
          stylish accessory. With a commitment to quality and design, he founded
          ABI FORTUNE JOTTERS.
        </p>
        <div class="col-md-12" style="display: flex; justify-content: center;">
          <button routerLink="/about" class="btn" style="border: 1px solid var(--clr-dark); background-color: #fff; margin-top: 60px;">
            <span class="text-dark">Learn More</span>
            <fa-icon class="icon-accent" [icon]="faChevronRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Locations -->
<section id="location-block" class="bg-light">
  <div class="section-wrapper row" data-aos="fade-up">
    <div class="col col-left">
      <h2 class="text-white">The best jotter in the city</h2>
      <p class="text-light">
        At ABI FORTUNE JOTTERS has redefined what a jotter can be—a tool of
        excellence delivered with precision and care in just 72 hours.
      </p>
      <button routerLink="/shop/product/1" class="btn">
        <span>Discover Our Jotter</span>
        <fa-icon class="icon-accent" [icon]="faChevronRight"></fa-icon>
      </button>
    </div>
    <div class="col col-right">
      <figure>
        <img loading="lazy" src="../../../../assets/images/woman-writing2.jpg" alt="" />
      </figure>
    </div>
  </div>
</section>
