<ul [ngClass]="{'nav-dark': headerDark}" class="navigation col">
    <li class="nav-item">
        <a routerLink="" class="nav-link text-white">Home</a>
    </li>
    <li class="nav-item">
        <a routerLink="about" class="nav-link text-white">About Us</a>
    </li>
    <li class="nav-item">
        <a routerLink="/shop/product/1" class="nav-link text-white">Product</a>
    </li>
    
    <li class="nav-item">
        <a routerLink="contact" class="nav-link text-white">Contact Us</a>
    </li>
</ul>

