<!-- Hero -->
<section id="hero" class="content bg-white">
  <!-- Background Image -->
  <div class="item">
    <div class="item__img-wrap">
      <div class="item__img item__img--t1"></div>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="hero-title">
          <p class="lead" data-aos="fade-up">About us</p>
          <h1 class="text-dark" data-aos="fade-up" data-aos-delay="100">
            Who we are
          </h1>
          <p class="text-darker about-text" data-aos="fade-up" data-aos-delay="150">
            ABI FORTUNE JOTTERS is more than just a brand; it's a promise of
            quality, style, and reliability. We understand that a jotter is not
            merely a notebook; it is an essential tool for capturing ideas, setting
            goals, and achieving success.
            <br />
            At ABI FORTUNE JOTTERS, we are dedicated to crafting premium padded
            jotters that serve as the perfect companion for professionals, students,
            and creatives alike.
            <br />
            Our jotters are meticulously designed with attention to detail, ensuring
            a practical and seamless writing experience that inspires productivity
            and creativity. Every jotter we produce is a blend of style and
            functionality, crafted to withstand the rigors of daily use while
            retaining its elegance. The padded covers provide a luxurious feel,
            protecting your notes and ideas, while the high-quality paper ensures
            that every stroke of the pen is smooth and precise.
            <br />
            We believe that the tools you use should reflect your personality and
            aspirations. That's why ABI FORTUNE JOTTERS offers a variety of designs
            and finishes, allowing you to choose a jotter that not only meets your
            practical needs but also complements your personal style.
            <br />
            Whether you’re jotting down important meeting notes, brainstorming new
            ideas, or simply making a to-do list, our jotters are designed to
            elevate your experience and help you achieve your goals.
            <br />
            ABI FORTUNE JOTTERS is committed to delivering exceptional products that
            inspire confidence and success, making us the preferred choice for
            discerning individuals who demand the best.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/images/nobg.png" alt="">
      </div>
    </div>
  </div>
</section>
<!-- section-1 -->
<section id="about__section-1" class="bg-light">
  <div class="section-wrapper row">
    <div class="col col-left">
      <figure>
        <img
          src="../../../../assets/images/woman-writing2.jpg"
          alt=""
        />
      </figure>
    </div>
    <div class="col col-right">
      <div class="lead-wrapper" data-aos="fade-up">
        <span class="lead-marker"></span>
        <p class="lead">Our story</p>
      </div>
      <h2 class="text-dark" data-aos="fade-up">Where it began</h2>
      <h2 class="text-dark" data-aos="fade-up"><strong>Since 2021 </strong></h2>
      <div class="section-content text-darker">
        <h3></h3>
        <p data-aos="fade-up" class="about-text">
          ABI FORTUNE JOTTERS began with Mr. Kay, a visionary who frequently
          attended workshops and seminars. He noticed that event organizers and
          trainers were constantly struggling to find quality jotters that were
          both durable and elegant. These jotters, meant to capture valuable
          insights and notes, often fell short of expectations, lacking the
          sturdiness and style that such occasions demanded.
          <br />
          Motivated by this gap in the market, Mr. Kay envisioned a jotter that
          would not only serve its practical purpose but also stand out as a
          stylish accessory. With a commitment to quality and design, he founded
          ABI FORTUNE JOTTERS. But he didn’t stop there. Understanding the
          fast-paced nature of events, Mr. Kay ensured that ABI FORTUNE JOTTERS
          could be custom-designed and delivered within 24-48 hours, offering event
          organizers the flexibility they needed without compromising on
          quality.
          <br />
          The premium padded covers, sturdy binding, and smooth, high-quality
          paper made ABI FORTUNE JOTTERS an instant hit. Event organizers
          appreciated the quick turnaround time, while participants cherished
          the jotters, often asking where they could get more.
          <br />
          Thanks to Mr. Kay’s vision, ABI FORTUNE JOTTERS has become a trusted
          name in the industry. Event organizers and trainers now rely on these
          jotters not just for their practicality, but for the added value of
          style and speed. ABI FORTUNE JOTTERS has redefined what a jotter can
          be—a tool of excellence delivered with precision and care in just 24-48
          hours.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Section-2 -->
<section id="about__section-2" class="bg-light">
  <div class="section-wrapper row">
    <div class="col col-left">
      <div class="lead-wrapper" data-aos="fade-up">
        <span class="lead-marker"></span>
        <p class="lead">ABI FORTUNE JOTTERS</p>
      </div>
      <h2 class="text-dark" data-aos="fade-up">The best jotter in the city</h2>
      <div class="section-content text-darkerer">
        <p data-aos="fade-up">
          We believe that the tools you use should reflect your personality and
          aspirations. That's why ABI FORTUNE JOTTERS offers a variety of
          designs and finishes, allowing you to choose a jotter that not only
          meets your practical needs but also complements your personal style.
          Whether you’re jotting down important meeting notes, brainstorming new
          ideas, or simply making a to-do list, our jotters are designed to
          elevate your experience and help you achieve your goals.
        </p>
        <p>
          ABI FORTUNE JOTTERS is committed to delivering exceptional products
          that inspire confidence and success, making us the preferred choice
          for discerning individuals who demand the best.
        </p>
        
        <button class="btn">
          <span>Discover Our Jotters</span>
          <fa-icon class="icon" [icon]="faChevronRight"></fa-icon>
        </button>
      </div>
    </div>
    <div class="col col-right">
      <figure>
        <img
          src="../../../../assets/images/woman-writing1.jpg"
          alt=""
        />
      </figure>
    </div>
  </div>
</section>
