<div class="section-wrapper">
    <div *ngIf="!productData; else productHolder">
        <app-spinner></app-spinner>
    </div>
    <ng-template #productHolder>
         <div class="product-view row animate__animated animate__fadeIn animate__faster">
            <figure class="col-left">
                <img [src]="productData.image.regular" alt="">
            </figure>
            <div class="product-info col-right">
                <p class="type">{{ productData.type | uppercase }}</p>
                <h2 class="text-dark">{{ productData.name }}</h2>
                <p class="price text-accent">{{ productData.price  | currency: "NGN":"symbol"}}</p>
                <p class="description text-dark">{{ productData.description }}</p>

                

                <div class="counter-wrap">
                    <h3>Quantity:</h3>
                    <div class="counter-inner">
                        <div class="counter">
                            <button class="counter-btn" (click)="remove()" type="button">-</button>
                            <input type="number" class="counter-display" style="border: 0;" (keyup)="editQuant()" #counterdisplay id="counter-display" [value]="productData.quantity">
                            <button class="counter-btn" (click)="add()" type="button">+</button>
                        </div>
                        <button class="btn cta-btn" (click)="addToCart(productData)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>